body
{
    background-image: url("throne.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}

#heading{
    font-size:3vw;
    font-style: italic;
    font-weight: bolder;
    color :#ef0446;

}
#content1{
    font-size : 1.5vw;

    color : black;
    font-weight: bold;
}
#content2 {
    font-size: 2vw;

    color: black;
    font-weight: bold;
}
#controls {
    font-size: 2vw;
    color: black;
    font-weight: bold;
}
.content3 {
    font-size: 1.5vw;
    color: black;
    font-weight: bold;
}

#start{
    text-decoration: none;
    color: black;
    font-size: 1.5vw;

}
