*{
  max-width: 100%;
  height: auto;
}
body {
  background-image: url(https://images.wallpaperscraft.com/image/world_of_tanks_is-7_game_explosion_war_66664_1920x1080.jpg);
  background-size: cover;
  background-position:top;
}
.logo{
  color: yellow;
  text-align: center;
text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
  font-size: 3vw;
  margin-left: -20vw;
  padding-top: 25vw;
  letter-spacing: .5vw;
}
.city{
  margin-top: -5vw;
  animation-name: cityslide;
  animation-duration: 2s;
}
.battle{
  animation-name: battleslide;
  animation-duration: 2s;
}
@keyframes cityslide {
from{
  padding-left:70vw;
  letter-spacing: normal;
}
to{
   padding-left:auto;
   letter-spacing: .5vw;
}
}
@keyframes battleslide {
from{
  margin-left:-50vw;
  letter-spacing: normal;
}
to{
   padding-left:auto;
   letter-spacing: .5vw;
}
}
